<!DOCTYPE html>
<html>
@using Microsoft.AspNet.Identity
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>

</head>
<body>
    <script>
        toastr.options = {
            "positionClass": "toast-bottom-right"
        }

        var hubNotify = $.connection.NotiHub;
        $.connection.hub.start();

        hubNotify.client.refreshNotificationData = function (toName, id) {
            console.log(toName + " " + id);
            if (checkIsMe(toName)) {
                getNotification(id);
            }
        };

        function checkIsMe(toName) {
            if (toName == $("#From").val()) {
                return true;
            }

            return false;
        }

        function getNotification(id) {
            $.ajax({
                url: '/Home/GetNotification',
                dataType: 'json',
                type: 'POST',
                data: {
                    Notification_Id: id,
                    Notify_From: $("#From").val()
                },
                success: function (result) {
                    $("#num").text("");
                    $("#num").html(result.number);
                    toastr.error(result.message, result.title);
                }
            });
        }

    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
